#boardDiv {
    border: 2px solid blue;
    width: 700px;
    height: 600px;
    display: flex;


}
.colDiv {
    border: 1px solid black;
    height: 100%;
    width: 100px;
    display: flex;
    box-sizing: border-box;


}
.redToken {
    background-color: red;
    border: 1px solid black;
    border-radius: 100%;
    height: 100px;
    width: 100px;
}
.blueToken {
    background-color: blue;
    border: 1px solid black;
    border-radius: 100%;
    height: 100px;
    width: 100px;
}